@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
:root{
	--soft-white: #aaa;
	--soft-black: #222;
}

html, body{
	background-color: rgb(247,233,220);
	font-family: "DM Sans", sans-serif;
}
