@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
:root{
	--soft-white: #aaa;
	--soft-black: #222;
}

html, body{
	background-color: rgb(247,233,220);
	font-family: "DM Sans", sans-serif;
}

#allGraphs{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 30px;
	height: auto;
}

.graphHolder{
    	height: 500px;
    	min-width: 385px;
	max-width: 385px;
    	display: block;
    	margin: 10px;
	margin-bottom: 50px; 
}

.topBar{
    	height: 90px;
	background-color: #eb765d;
	background-image: url(accentPhoto.png);
	background-size: 5em;
	background-repeat: no-repeat;
	background-position: 285px;
	padding: 5px;
	border-radius: 1em;
	margin-bottom: 15px;
	width: auto;
	
	animation-name: initlogo;
  	animation-duration: 2s;
}


.mainGraphElement{
    	height: calc(100% - 120px);
	padding: 5px;
	background-color: #fffcf7;
	border-radius: 1em;
    	width: auto;
}

#textHandler{
	color: #f7ebdf;
	line-height: 1.5em;
	
	padding-left: 20px;
	padding-top: 17px; 
	height: calc(98% - 17px);
}

#fineText{
	font-size: 0.75em;
	 
}

#popoutText{
	font-size: 1.6em; 
	font-weight: 600;
}


#graphDurationDisplay{
	color: #4a4037;
	font-size: 1.35em;
	font-weight: 600;
	margin-top: 15px;
	margin-left: 15px; 
}

#MAINGRAPHAREA{
	width: auto;
	height: 205px;
	margin: 15px 15px 0 15px;
	padding-bottom: 15px;
	border-bottom: 2px solid rgba(238,233,227,255);
}

#barDetails{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	padding: 0 15px 0 15px;
}

#barDetailsLeft{
	display: flex;
	flex-direction: column;
}

#barDetailsRight{
	flex-direction: column;
	padding-top: 20px;
	
	color: 	#bab7b1;;
	text-align: right; 
	font-size: 0.8em;
	line-height: 18px;
	display: flex;
}

#barTotal{
	font-size: 0.75em;
	color: #bab7b1;
}

#barTotalValue{
	font-size: 2.2em;
	color: #4a4037;
}

#percentChange{
	color: #4a4037;
	font-size: 1.2em;
}

/*  Animations  */

@keyframes initlogo{
	from{
	 background-size: 7em;
	 background-position: 255px;
	}
	to{
	 background-size: 5em;
	 background-position: 280px;
  	}
}
