@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
:root{
	--soft-white: #aaa;
	--soft-black: #222;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

html, body{
	background-color: rgb(247,233,220);
	font-family: "DM Sans", sans-serif;
}
#homeBar{
	display: flex;
  	width: 100%;
	height: 90px;
	background-color: #fffcf7;
	margin-bottom: 15px;
	border-radius: 1em;
}

#logOutBtn{
	position: absolute;
	border: 4px solid #eb765d;
	background-color: #fffcf7;
	background: url("backArrow.png");
	background-size: 75px;
	background-position: center; 
	border-radius: 1.2em;
	margin: 10px;
	height: 70px;
	width: 70px;
}

#addDataBtn{
	position: absolute;
	border: 4px solid #eb765d;
	background-color: #fffcf7;
	background: url("plus.png");
	background-size: 55px;
	background-position: 4.5px center; 
	border-radius: 1.2em;
	margin: 10px;
	margin-left: calc(100% - 96px);
	height: 70px;
	width: 70px;
}

#yearFilter{
	margin:auto;
	display: flex;
	margin-top: 0px;
	margin-bottom: 30px;
	height: 62px; 
	width: 250px;
	border: 4px solid #eb765d;
	border-radius: 0.9em;
}

.YDbtnLeft{
	position: absolute;
	margin-top: 1px;
	width: 65px;
	height: 61px;
	background: url("arrowLeft.png");
	border-radius: 30em;
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

.YDbtnRight{
	position: absolute;
	margin-top: 1px;
	margin-left: 186px;
	width: 65px;
	height: 61px;
	background: url("arrowRight.png");
	border-radius: 30em;
	background-size: 50px;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

#yearDisplay{
	width: 115px;
	height: 100%;
	margin: auto;
	margin-left: 87.5px;
	font-size: 2.1em;
	padding-top: 11px;
}

#allGraphs{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 30px;
	height: auto;
}

.graphHolder{
	height: 550px;
	width: 385px;
	display: block;
	margin: 10px;
	margin-bottom: 50px; 
	flex-shrink: 0;
	
	animation-name: fadeIn;
	animation-duration: 2s;
}

.btnLeft{
	position: absolute;
	display: none;
	margin-left: 260px;
	margin-top: 5px;
	width: 35px;
	height: 31px;
	background: url("arrowLeft.png");
	border-radius: 30em;
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

.btnRight{
	position: absolute;
	display: none;
	margin-left: 300px;
	margin-top: 5px;
	width: 35px;
	height: 31px;
	background: url("arrowRight.png");
	border-radius: 30em;
	background-size: 30px;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

@media only screen and (max-width: 401px) {
	#homeBar{
		height: 70px;
		width: 340px;
		margin: auto;
		margin-bottom: 15px;
	}

	#logOutBtn{
		transform: scale(0.8);
		margin-left: 0;
		margin-top: 0;
	}

	#addDataBtn{
		transform: scale(0.8);
		margin-left: 270px;
		margin-top: 0;
	}
	
	.btnLeft{
		margin-left: 235px;
	}
	.btnRight{
		margin-left: 275px;
	}
	
	.graphHolder{
		width: 340px;
	}
}

@media only screen and (min-width: 401px) and (max-width: 439px){
	#homeBar{
		width: 380px;
		margin: auto;
		margin-bottom: 15px;
	}

	#addDataBtn{
    		margin-left: 302px;
	}

	#logOutBtn{
		margin-left: 9px;
	}	
	
}

.topBar{
	height: 90px;
	background-color: #eb765d;
	background-image: url(accentPhoto.png);
	background-size: 5em;
	background-repeat: no-repeat;
	background-position: calc(100% - 20px);
	padding: 5px;
	border-radius: 1em;
	margin-bottom: 15px;
	width: auto;
}


.mainGraphElement{
	height: calc(100% - 110px);
	padding: 5px;
	background-color: #fffcf7;
	border-radius: 1em;
	width: auto;
}

#textHandler{
	color: #f7ebdf;
	line-height: 1.5em;
	
	padding-left: 20px;
	padding-top: 17px; 
	height: calc(98% - 17px);
}

#fineText{
	font-size: 0.75em;
	 
}

#popoutText{
	font-size: 1.6em; 
	font-weight: 600;
}


#graphDurationDisplay{
	color: #4a4037;
	width: 234.7px;
	font-size: 1.1em;
	font-weight: 600;
	margin-right: 20px; 
	padding-right: 120px; 
}

#topMainBar{
	display: flex;
	margin-top: 15px;
	margin-left: 15px; 
	margin-bottom: 45px;
}

#btnLeft:active,#btnRight:active {
	margin-right: 19.5px;
	border: 2px solid black;
}

#MAINGRAPHAREA{
	width: auto;
	height: 205px;
	margin: 15px 15px 0 15px;
	padding-top: 7px;
	padding-bottom: 15px;
	border-bottom: 2px solid rgba(238,233,227,255);
}

#barDetails{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	padding: 0 15px 0 15px;
}

#barDetailsLeft{
	display: flex;
	flex-direction: column;
}

#barDetailsRight{
	flex-direction: column;
	padding-top: 20px;
	
	color: 	#bab7b1;
	text-align: right; 
	font-size: 0.8em;
	line-height: 18px;
	display: flex;
}

#barTotal{
	font-size: 0.75em;
	color: #bab7b1;
}

#barTotalValue{
	font-size: 2.2em;
	color: #4a4037;
}

#percentChange{
	color: #4a4037;
	font-size: 1.2em;
}

#MAINGRAPHAREA{
	display: flex;
	align-items: flex-end;
}

.barHolder{
	margin: 5px;
	margin-bottom: 0px;
}

.graphBar{
	background: #eb765d;
	border-radius: 0.5em;
	animation-name: fadeIn;
	animation-duration: 3s;
}

#dataAddScreen{
	display: flex;
	flex-wrap: wrap;
	column-gap: 15px;
}

.babyTopBar{
	width: 180px;
	height: 50px;
	background: #eb765d;
	border-radius: 0.75em;
}

.babyGraph{
	width: 180px;
	height: 180px;
	margin-top: 10px;
	border-radius: 0.75em;
	background: #fffcf7;
	margin-bottom: 3px;
}

.babyGraphHolder{
	margin-top: 10px;
}

.babyGraphText{
	color: #b6b1ab;
	text-align: center;
}

.deleteBtn{
	background: url("minus.png");
	background-size: 25px;
	background-repeat: no-repeat;
	border: none;
	color: whitesmoke;
	padding-bottom: 10px;
	transform: translate(160px ,-286px);
	-webkit-transform: translate(160px ,-281px);
	width: 25px;
	height: 25px;
}

.babyGraph{
	background-image: url(editIcon.png);
	background-repeat: no-repeat;
	background-position: 66px center;
	background-blend-mode: multiply;
	background-size: 60px;
}

#addMainGraphArea{
	background-image: url(plus.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-blend-mode: multiply;
	background-size: 60px;
}

@media only screen and (max-width: 590px) {
	#dataAddScreen{
		margin-top: 20px;
		justify-content: center;
	}
}

p{
	margin: 0;
	text-align: center;
	color: #bab7b1;
}

/*  Animations  */

@keyframes fadeIn{
	from{
	 opacity: 0%;
	}
	to{
    	  opacity: 100%;
  	}
}
