@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
:root{
	--soft-white: #aaa;
	--soft-black: #222;
}

html, body{
	background-color: rgb(247,233,220);
	font-family: "DM Sans", sans-serif;
}

#authScreen{
	background: rgb(255,251,247);
	border-radius: 0.6em;
	margin: 100px auto;
    
	width: 80%;
	max-width: 300px;
}

@media not screen and (max-width: 800px) {
    #authScreen{
        margin: 150px auto;
    }
}

#btnSelec{
    margin: 6px;
    padding-top: 18px;
    padding-bottom: 17px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(245,238,224);
}

#Ilogin, #Isignup{
    -webkit-appearance: none;
    background: rgb(235,116,92);
    border: 1px solid rgb(209,139,123);
    font-size: 1.3em;
    border-radius: 0.3em;
    color: rgb(251,237,226);
    padding: 5px 25px 7px 25px;
    margin: 18px;
}

.loginScreenBtn{
    background: rgb(235,116,92);
    border: 1px solid rgb(209,139,123);
    font-size: 1.3em;
    border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    color: rgb(251,237,226);
    padding: 5px 25px 7px 25px;
    margin: auto;
}

.loginScreenBtn:hover{
    border: 1px dashed;
}

#login{
    display: flex;
    flex-direction: column;
}

input:focus {
    outline: none ! important;
}

#Iusername, #Ipassword, #Iconfpassword{
    width: 95%;
    background: none;
    border: none;
    border-radius: 0.25em;
    align-self: center; 
    height: 30px; 
    padding-left: 13px;
}

fieldset{
    height: 50px;
    padding: 0px;
    padding: none;
    border: 2px solid rgb(247,233,220);
    border-radius: 0.25em;
    background: white;
    margin-left: 18px;
    margin-right: 18px;
    margin-bottom: 25px;
}

legend{
    margin-left: 10px;
    color: rgb(227, 213, 200);
}
